<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.edu.upc.businessbook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".BusinessBookApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/account_kit_client_token" />

        <activity
            android:name=".viewcontrollers.activities.OnBoardActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"/>


        <activity
            android:name=".viewcontrollers.activities.MainActivity"
            android:label="@string/title_activity_main" />

        <activity
            android:name=".viewcontrollers.activities.LoginActivity"
            android:label="@string/title_activity_login"/>

        <activity
            android:name=".viewcontrollers.activities.LocalActivity"
            android:label="@string/title_activity_local"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".viewcontrollers.activities.ItemActivity"
            android:label="@string/title_activity_item"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".viewcontrollers.activities.sales.SaleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".viewcontrollers.activities.purchases.PurchaseActivity" />
        <activity android:name=".viewcontrollers.activities.sales.SaleAddActivity" />
        <activity android:name=".viewcontrollers.activities.purchases.PurchaseAddActivity"></activity>
    </application>

</manifest>